@charset "UTF-8";

.placeModalP{
	
	
	margin-bottom:10px;
}
#placeImg{
	
	width:400px;
	margin-bottom: 10px;
}
#placePhone{
	
	color:#61a134;
}



#displayResultDiv{
	
	overflow-y:auto;
}
#searchForm label{
	
	margin-left:5px;
	margin-right:5px;
}

#reviewCard label {
	margin-left:5px;
	margin-right:15px;
	font-weight:700;
}


.myContainer{
	min-height:calc(100vh - 180px);
	
	font-family: 'Sunflower', sans-serif;
}

.myPageContainer{
	font-family: 'Sunflower', sans-serif;
	
}
.mainPhoto{
	
	width:100%;
	/* height:120vh; */
	height:100%;
}


