@charset "UTF-8";

.placeModalP{
	
	
	margin-bottom:10px;
}
#placeImg{
	
	width:400px;
	margin-bottom: 10px;
}
#placePhone{
	
	color:#61a134;
}

#travelContainer{
	font-family: 'Sunflower', sans-serif;
}