<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customerMapper">

	<resultMap type="Question" id="QuestionResultSet">
		<id property="answerNo" column="ANSWER_NO" />
		<result property="category" column="CATEGORY" />
		<result property="questionTitle" column="QUESTION_TITLE" />
		<result property="questionContent" column="QUESTION_CONTENT" />
		<result property="questionSecret" column="QUESTION_SECRET" />
		<result property="datetime" column="DATETIME" />
		<result property="status" column="STATUS" />
	</resultMap>
	
	

	
</mapper>
