<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tasteMapper">
	<resultMap type="Taste" id="tasteResultSet">
		<id property="placeNo" column="PLACE_NO"/>
		<result property="placeAddr" column="PLACE_ADDR"/>
		<result property="placeName" column="PLACE_NAME"/>
		<result property="placePhone" column="PLACE_PHONE"/>
		<result property="placeGroup" column="PLACE_GROUP"/>
		<result property="placeLon" column="PLACE_LON"/>
		<result property="placeLat" column="PLACE_LAT"/>
		<result property="placeCategory" column="PLACE_CATEGORY"/>
		<result property="placeDate" column="PLACE_DATE"/>
		<result property="placeStatus" column="PLACE_STATUS"/>	
		<result property="placeUrl" column="PLACE_URL"/>	
		<result property="placeCount" column="PLACE_COUNT"/>	
		<result property="placeScore" column="PLACE_SCORE"/>	
		<result property="regionNo" column="REGION_NO"/>	
	</resultMap>


	
</mapper>