<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.drommetur.travel.mapper.TravelMapper">
  
  
  <insert id="insertTravel">
  
  	insert into travel
  	values(seq_travel.nextval,#{travel.travelName},#{travel.travelMemo},sysdate,default,#{memberNo})

  </insert>
  
  <insert id="insertTravelDetail">
  
  	<selectKey keyProperty="travelNo" order="BEFORE" resultType="_int">
  		select seq_travel.curval from dual;
  	
  	</selectKey>
  	
  	insert into travel_detail
  	values(seq_travel_detail.nextval,#{travelDetail.travelDate},#{travelNo})
  
  </insert >
  
  <insert id="insertTravelPlace">
   	<selectKey keyProperty="travelDetailNo" order="BEFORE" resultType="_int">
  		select seq_travel_detail.curval from dual;
  	
  	</selectKey>
  	
  	insert into travel_place
  	values(#{travelDetailNo},#{simplePlace.placeNo})
  
  </insert>
  
  
  
  
</mapper>
