<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.drommetur.travel.mapper.TravelMapper">
  
	<resultMap id="TravelResultSet" type="Travel">
 		<id property="travelNo" column="TRAVEL_NO" />
 		<result property="travelName" column="TRAVEL_NAME" />
 		 <result property="travelMemo" column="TRAVEL_MEMO" />
 		<result property="travelRegDate" column="TRAVEL_REGDATE" />	 		
 		
 		
 	</resultMap> 
 	
 <!-- 	<resultMap id="TravelDetailResultSet" type="TravelDetail">
 		<id property="detailNo" column="DETAIL_NO" />
 		<result property="travelDate" column="TRAVEL_DATE" />
 			
 		
 		
 	</resultMap>  -->
 	
 	<resultMap id="Travel" type="Travel">
 		<id property="travelNo" column="TRAVEL_NO" />
 		<result property="travelName" column="TRAVEL_NAME" />
 		 <result property="travelMemo" column="TRAVEL_MEMO" />
 		<result property="travelRegDate" column="TRAVEL_REGDATE" />	 		
 		
 		<collection property="travelDetailList" resultMap="TravelDetail" />
 		
 	</resultMap> 
 	
 	<resultMap id="TravelDetail" type="TravelDetail">
 		<id property="detailNo" column="DETAIL_NO" />
 		<result property="travelDate" column="TRAVEL_DATE" />
 			
 		<collection property="travelPlaces" resultMap="Place" />
 		
 	</resultMap>
 	
 
 	<resultMap type="Place" id="Place" >
	  	<id property="placeNo" column="PLACE_NO" />
	  	<result property="placeName" column="PLACE_NAME" />
	  	<result property="placeGroup" column="PLACE_GROUP" />
  	
 	 </resultMap>
 
 
  <insert id="insertTravel">
  
  	insert into travel
  	values(seq_travel.nextval,#{travel.travelName},#{travel.travelMemo},sysdate,default,#{memberNo})

  </insert>
  
  <insert id="insertTravelDetail">
  
  
  	
  	insert into travel_detail
  	values(seq_travel_detail.nextval,#{travelDate},seq_travel.currval)
  
  </insert >
  
  <insert id="insertTravelPlace">
   
  	
  	insert into travel_place
  	values(seq_travel_detail.currval,#{placeNo})
  
  </insert>
  
  <select id="selectListCount" resultType="_int">
  	select count(*)
  	from travel
  	 where travel_status='Y' and mem_no= #{memberNo}
  </select>
  
    <select id="selectList" resultMap="TravelResultSet">
  	<![CDATA[
	  	select travel_no,travel_name,travel_regdate
	  	from(
		  	select /*+ INDEX_DESC(travel pk_travel) */
		  	rownum rn , travel_no,travel_name,travel_regdate
		  	from travel
		  	where travel_status='Y' and mem_no= #{memberNo} and rownum <= #{cri.amount} * #{cri.pageNo} 
		  	
		  	)
		 where rn > #{cri.amount} * (#{cri.pageNo}-1)
  	 ]]>	
  </select>
  
 <!--  <select id="selectTravel" resultMap="TravelResultSet">
  	
  	select travel_no,travel_name,travel_regdate,travel_memo
  	from travel
  	where travel_no=#{travelNo}
  
  </select> -->
  
   <select id="selectTravel" resultMap="Travel">
  	
  	select t.travel_no,travel_name,travel_regdate,travel_memo,td.detail_no, td.travel_date,p.place_no,p.place_name,p.place_group
  	
  	
  	from travel t join travel_detail td on t.travel_no=td.travel_no
  				join travel_place tp on td.detail_no=tp.detail_no
  				join place p on tp.place_no=p.place_no
  				
  	
  	
  	
  	where t.travel_no=#{travelNo}
  
  </select>
  
 <!--   <select id="selectTravelDetailList" resultMap="TravelDetailResultSet">
  	
  	select detail_no,travel_date
  	from travel_detail
  	where travel_no=#{travelNo}
  
  </select>
  
  <select id="selectPlaceNoList" resultType="_int">
  	
  	select place_no
  	from travel_place 
  	where detail_no=#{detailNo}
  
  </select>
  
  <select id="selectPlaceName" resultType="string">
  
  	select place_name
  	from place
  	where place_no=#{placeNo}
  </select> -->
  
  <update id="deleteTravel">
  	update travel
  	set travel_status='N'
  	where travel_no=#{travelNo}
  	
  
  </update>
  
  <delete id="modifyDeleteTravel">
  	delete from travel
  	where travel_no=#{travelNo}
  
  </delete>
  
  <insert id="modifyInsertTravel">
  
  	 insert into travel
  	values(#{travel.travelNo},#{travel.travelName},#{travel.travelMemo},#{travel.travelRegDate},default,#{memberNo})
  
  </insert>
  
  <insert id="modifyInsertTravelDetail">
  	 insert into travel_detail
  	values(seq_travel_detail.nextval,#{travelDetail.travelDate},#{travelNo})
  
  </insert>
  
</mapper>
