<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>


	<properties resource="jdbc.properties"/>
	
	<settings> <!-- value에 NULL은 무조건 대문자로 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
			
		
	</settings>


	

	<typeAliases>
		<typeAlias type="com.kh.drommetur.place.model.vo.Place" alias="Place"></typeAlias>	
		<typeAlias type="com.kh.drommetur.customer.model.vo.Answer" alias="Answer"></typeAlias>
		<typeAlias type="com.kh.drommetur.customer.model.vo.Question" alias="Question"></typeAlias>
		<typeAlias type="com.kh.drommetur.customer.model.vo.Notice" alias="Notice"></typeAlias>
		<typeAlias type="com.kh.drommetur.customer.model.vo.PageInfo" alias="customerPageInfo"></typeAlias>
		

		<typeAlias type="com.kh.drommetur.travel.model.vo.Travel" alias="Travel"></typeAlias>
		<typeAlias type="com.kh.drommetur.travel.model.vo.TravelDetail" alias="TravelDetail"></typeAlias>
		<typeAlias type="com.kh.drommetur.travel.model.vo.SimplePlace" alias="SimplePlace"></typeAlias>
		
		<typeAlias type="com.kh.drommetur.taste.model.vo.Taste" alias="Taste"></typeAlias>
		<typeAlias type="com.kh.drommetur.taste.model.vo.PageInfo" alias="tastePageInfo"></typeAlias>
		
		<typeAlias type="com.kh.drommetur.accommodations.model.vo.Accommodations" alias="Accommodations"></typeAlias>
		<typeAlias type="com.kh.drommetur.accommodations.model.vo.PageInfo" alias="accomPageInfo"></typeAlias>
		
		
		<typeAlias type="com.kh.drommetur.attraction.model.vo.Attraction" alias="Attraction"></typeAlias>
		<typeAlias type="com.kh.drommetur.attraction.model.vo.PageInfo" alias="attractionPageInfo"></typeAlias>
		
		<typeAlias type="com.kh.drommetur.member.model.vo.Member" alias="Member"></typeAlias>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/place-mapper.xml"></mapper>
		<mapper resource="mappers/customer-mapper.xml"></mapper>
		<mapper resource="mappers/taste-mapper.xml"></mapper>
		<mapper resource="mappers/accom-mapper.xml"></mapper>
		<mapper resource="mappers/attraction-mapper.xml"></mapper>
		<mapper resource="mappers/member-mapper.xml"></mapper>
	</mappers>



</configuration>
