
.join-choose-from_1 {
    width: 340px;
    margin: 150px auto;
    height:calc(100vh - 413px);
	
	font-family: 'Sunflower', sans-serif;
}

.join-choose-from_2 {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.join-choose-from_2 h2 {
    margin: 0 0 15px;
}

#check-loginId {
    color: #777;
    text-align: center;
}

#signUp_btn
{
    min-height: 38px;
    border-radius: 2px;
}

#or-line {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

#or-line i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}

#signUp_btn {
    border: 1px solid rgba(120, 185, 250);
    background-color: rgba(120, 185, 250);
    margin: 10px 0;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
}

#facebook_btn, 
#google_btn {
    width: 130px;
    margin: 10px 0;
    font-size: 15px;
    text-align: left;
    line-height: 24px;
    min-height: 38px;
    border-radius: 2px;
}

#signUp_btn {
    margin-left: 0;
}
#signUp_btn:hover {
    opacity: 0.8;
}
#facebook_btn {
    background: #507cc0;
}

#google_btn {
    background: #df4930;
}
#social-fab {
    float: left;
    margin: 3px 10px;
    font-size: 20px;
}

#social-fab{
    font-size: 18px;
}
#join-text {
    color: rgba(120, 185, 250, 0.5);
}