@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

.myPage_warp {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: 57px;
}

.my_container {
    display: inline-block;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.aside {
    float: left;
    width: 15%;
    margin: 8% 0 0 10%;
}

#aside_subject {
    position: relative;
    box-sizing: border-box;  
    height: 87px;
    border: 1px solid #DDD;
    border-bottom: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;    
}

#aside_subject > a {
    text-decoration: none;
    color: inherit;
}

.myPageHome {
    background-position: -10px -10px;
    display: inline-block;
    margin: 12% 0 0 0;
    font-family: 'Sunflower', sans-serif;
}

.myPageHome:-webkit-any-link {
    cursor: pointer;
}

#aside_nav {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: 1px solid #DDD;
    border-top: 4px solid rgba(120, 185, 250, 0.5);
}

#aside_title_1 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10% 0 10% 15%;
    font-weight: bold;
    color: #636363;
    font-size: 1em;
    font-family: 'Sunflower', sans-serif;
}

#aside_title_2 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 10% 0 0 15%;
    margin-top: 30%;
    font-weight: bold;
    color: #636363;
    font-size: 1em;
    font-family: 'Sunflower', sans-serif;
}

#aside_title_3 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 10% 0 0 15%;
    margin: 5% 0 10% 0;
    font-weight: bold;
    color: #636363;
    font-size: 1em;
    font-family: 'Sunflower', sans-serif;
}

#aside_title_4 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 10% 0 0 15%;
    margin-top: 10%;
    font-weight: bold;
    color: #636363;
    font-size: 1em;
    font-family: 'Sunflower', sans-serif;
}

#aside_title_1 > a {
    text-decoration: none;
    color: inherit;
}

#aside_title_2 > a {
    text-decoration: none;
    color: inherit;
}

#aside_title_3 > a {
    text-decoration: none;
    color: inherit;
}

#aside_sub_1 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-left: 15%;
    margin-top: 2.5%;
    color: #9F9F9F;
    list-style: none;
    font-size: 0.8em;
    font-family: 'Sunflower', sans-serif;
}

#aside_sub_2 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-left: 15%;
    margin-top: 2.5%;
    color: #9F9F9F;
    list-style: none;
    font-size: 0.8em;
    font-family: 'Sunflower', sans-serif;
}

#aside_sub_1 > li > a {
    text-decoration: none;
    color: inherit;
}

#aside_sub_2 > li > a {
    text-decoration: none;
    color: inherit;
}

.my_content {
    position: relative;
    width: 60%;
    float: right;
    margin: 8% 12% 0 0;
    border: 1px solid white; 
    padding: 1%;
}

.my_content > h1 {
    font-family: 'Sunflower', sans-serif;
}